.swagger-ui
{
    @import 'tachyons-sass/tachyons.scss';
    @import 'mixins';
    @import 'variables';
    @import 'type';
    @import 'layout';
    @import 'buttons';
    @import 'form';
    @import 'modal';
    @import 'models';
    @import 'servers';
    @import 'table';
    @import 'topbar';
    @import 'information';
    @import 'authorize';
    @import 'errors';
    @include text_body();
    @import 'split-pane-mode';
    @import 'markdown';

    .btn {
        border-color: var(--color-primary-700);
    }

    .opblock-tag {
        border-bottom: 1px solid var(--color-primary-700);
        background-color: var(--color-neutral-800);
        margin: 0;

        &:hover {
            background-color: var(--color-neutral-900);
        }
    }

    .opblock {
        .opblock-section-header {
            background: $opblock-isopen-section-header-background-color;
            box-shadow: none;
        }
    }

    .scheme-container {
        box-shadow: none;
    }

    .dialog-ux .modal-ux-header {
        background-color: var(--color-primary-600);
    }

    input[type="text"],
    input[type="password"],
    input[type="search"],
    input[type="email"],
    input[type="file"],
    textarea {
        &:focus {
            border: 1px solid var(--color-primary-700);
        }
    }

    input,
    textarea,
    select {
        &[disabled] {
            // opacity: 0.85;
            background-color: var(--color-neutral-700);
            color: #fff;
        }
    }
}
